<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App NodeJS & MongoDb</h1>
  <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
  <hr class="my-4" />
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem atque
    impedit dolores rem laboriosam, consequatur consequuntur laudantium.
    Dolorem, harum architecto. Eaque ea quo iure laudantium? Error est obcaecati
    corporis et?</p>
    <a href="https://www.google.cl" class="btn btn-primary btn-lg">Google</a>
</div>